manage_command: "sudo docker exec `sudo docker ps -q` /srv/project/app/manage.py"

container_commands:
  01_migrate:
    command: "{{ manage_command }} migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "{{ manage_command }} migrate --noinput"
    leader_only: true
  03_createsu:
    command: "{{ manage_command }} createsu"
    leader_only: true